*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}
.clearfix:after {
    clear: both;
}
.clearfix{
    *zoom: 1;
}

.header{
    /*background-color: #4caf50;*/
    background-color:#003333;
    width: 100%;
}
/*.nav{*/
/*position: relative;*/
/*width:1200px;*/
/*}*/
.navigation{
    position: relative;
    float: left;
    left:15%;
}
.navigation-2{
    position: absolute;
    float: left;
    right:10%;
}
.navigation ul{
    margin: 0;
    padding:0;
}
.navigation-2 li,
.navigation li{
    float: left;
    list-style-type: none;


}
.navigation-2 li a,
.navigation li a{
    display: block;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    padding:10px 0;
    margin:15px 20px;
    transition: 0.3s;
}
.nav2 li a:hover,
.navigation li a:hover{
    color:#FF6F3C;
}
/*移动设备菜单*/

.menu{
    padding:14px 0;
    position: absolute;
    float: left;
    right:8%;
    display: none;
}
.menu img{
    width:40px;
}
.backcolor{         /*导航背景*/
    position: fixed;
    width:100%;
    z-index: 29;
    height:100%;
    background-color: rgba(0, 0, 0, 0.41);
    display: none;
}
.nav2{
    position: fixed;
    top: 0;
    right: -250px;
    bottom: 0;
    z-index: 30;
    width: 250px;
    height: 100%;
    overflow: auto;
    background-color: #ffffff;
    display: none;
}
.imglogo{
    position: relative;
    margin-top:60px;
    margin-left: 20px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #eeeeee;
    width:55px;
    height:55px;
    right: 0;
    top:0;
}
.nav2 h3{
    position: relative;
    top:-20px;
    display: inline-block;
    text-align: center;
    padding:10px;
    color: #333333;
 }
.nav2 p{
    position: absolute;
    font-size: 12px;
    top:104px;
    left:106px;
    color: #333333;
}
.nav2 ul li a img{
    position: absolute;
    top:14px;
    left:20px;
    width:25px;
    transition: 0.3s;
}

.nav2 li{
    position: relative;
    list-style-type: none;
    transition: 0.3s ;
}
.nav2 li:hover{
    background-color: #eee;

}
.nav2 li a{
    display: block;
    text-decoration: none;
    padding:15px;
    font-size: 14px;
    font-weight: 600;
    color: #333333;
    margin-left:50px;
    transition: 0.3s;
}
.downlist{
    display: none;
}
.downlist li{
    position: relative;
    left:-150px;
    opacity: 0;
}
/*头像*/
.dropdown{
    position: relative;
    bottom:15px;
    z-index: 2;

}
.imgdro{
    position: relative;
    border-radius: 50%;
    border: 2px solid #eeeeee;
    width:46px;
    height:46px;
    right: 0;
    top:0;
    z-index: 100000;
    transition: all .3s;
}
.dropdown:hover .imgdro,.dropdown-conten:hover .imgdro{
    width:60px;
    top:10px;
    right:-10px;
    height:60px;
    border: 2px solid #eeeeee;
}
.dropdown-conten{                                     /*下拉盒子*/
    top: 70px;
    right:-88px;
    width: 250px;
    height:260px;
    background: #fff;
    display: none;
    position: absolute;
    border: 1px solid rgba(136, 125, 136, 0.34);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.dropdown-conten img{
    margin:30px 35px 0 35px;
    width:180px;
}
.dropdown-conten p{
    margin:4px 65px;
    color: #333333;
    font-size: 14px;
}


.logo{
    position: relative;
    float: left;
    left:10%;
    top: 15px;
    font-size: 20px;
    color: white;
    width: 69.2px;
    height: 69.2px;
}
.logo img{
    width: 69.2px;
    height: 69.2px;
}
/*返回顶部*/
.gotop{
    position: fixed;
    right:5%;
    bottom:130px;
    z-index: 101;
    display: block;
}
.gotop ul{
}
.gotop img{
    width:35px;
    padding:5px;
}

.gotop li{
    list-style-type: none;
    width:45px;
    height: 45px;
    background-color: rgba(13, 47, 63, 0.38);
    -webkit-transition:  0.3s;
    -moz-transition:  0.3s;
    -ms-transition:  0.3s;
    -o-transition:  0.3s;
    transition:  0.3s;
}
.gotop li:hover{
    background: #4caf50;
}
#top1{
    display: none;
    position: fixed;

}

/*微信公众号二维码*/
.wechar-box{
    position: absolute;
    display: none;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    top:0;
    right:45px;
    height: 100px;
    padding:5px;
    width:300px;
}
.wechar-box img{
    float: left;
    width:100px;
    padding:0;
}
.wechar-box h3{
    padding-top:20px;
    text-align: center;
    color: #333;
}
.wechar-box p{
    padding-top:5px;
    text-align: center;
    color: #666666;
}
/*底部链接*/
.under{
    background-color: #fff;
    height:170px;
    border-top: 1px solid #eeeeee;
}
.centerbox{
    width:68%;
    margin:0 auto;
    height:150px;
}
.bottom1,.bottom2,.bottom3{
    float: left;
    height:150px;
    width:19.6%;
    margin:20px 0 0 0;
    /*border: 1px solid #ffffff;*/
}
.bottom3{
    margin-right:10%;
}
.bottom4{
    float: left;
    height:150px;
    width:29.4%;
    margin:20px 0 0 0;
    border-left: 1px solid #eaeaea;
}
.wechar{
    width:50px;
    height:50px;
    position: relative;
    left:42%;
}
.wechar>img{
    width:50px;
}
.wechar:hover .triangle1,.wechar:hover .detailed1{
    display: block;
}
.triangle1{
    display: none;
    z-index: 102;
    position: absolute;
    width:0;
    height: 0;
    top:10px;
    left:100%;
    border-top:5px solid transparent;
    border-right:10px solid #ccd9e3;
    border-bottom:5px solid transparent;
}
.detailed1 img{
    width:270px;
    border:1px solid #eeeeee;
    border-radius: 10px;
}
.detailed1{
    display: none;
    position: absolute;
    z-index: 102;
    top:-270px;
    left:60px;
    width:270px;
    height:200px;
}
.centerbox p,.centerbox h4,.centerbox a{
    color: #757575;;
    text-align: center;
    font-size: 14px;
    display: block;
    margin:5px 0;
}
.centerbox h4{
    color:#424242;
    font-size: 16px;
    margin:10px 0;
}

.centerbox a:hover{
    opacity: 0.8;
}
@media screen and (max-width: 1200px ){

    /*导航*/
    .menu{
        display: block;
    }
    /*.backcolor{*/
    /*display: none;*/
    /*}*/
    .nav2{
        display: block;
    }
    .navigation{
        display: none;
    }
    .dropdown{
        display: none;
    }
    .content-one{
        width: 90%;
        margin:20px auto;
    }

    /*置顶*/
    .gotop img{
        width:30px;
        padding:3px;
    }
    .gotop li{
        width:36px;
        height: 36px;
    }
    .wechar-box img{
        float: left;
        width:100px;
        padding:0;
    }
    .wechar-box{

        top:-20px;
        right:36px;
    }
    /*尾部*/
    .centerbox h4{
        font-size: 14px;
    }
    .centerbox p,.centerbox h4,.centerbox a{
        font-size: 12px;
    }
    .centerbox{
        width:100%;
        margin:0 auto;
        height:150px;
    }
    .bottom4{
        float: left;
        height:150px;
        width:20%;
        margin:0;
    }
    /*问题反馈*/
    .detailed1 img{
        width:180px;
    }
    .detailed1{
        display: none;
        position: absolute;
        z-index: 102;
        top:-150px;
        left:-180px;
        width:270px;
        height:200px;
    }
    .wechar:hover .triangle1{
        display: none;
    }
    .wechar{
        width:50px;
        height:50px;
        position: relative;
        left:12%;
    }
    .gotop{
        position: fixed;
        right:5%;
        bottom:130px;
        z-index: 101;

    }
    .bottom4{
        margin:0;
    }
}