*{
    margin:0;
}
body{
    background-color: #f1f4f9;
}
a{
    text-decoration: none;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}
.clearfix:after {
    clear: both;
}
.clearfix{
    *zoom: 1;
}

.header{
    background-color: #4caf50;
    width: 100%;
}
/*.nav{*/
    /*position: relative;*/
    /*width:1200px;*/
/*}*/
.navigation{
    position: relative;
    float: left;
    left:15%;
}
.navigation-2{
    position: absolute;
    float: left;
    right:10%;
}
.navigation ul{
    margin: 0;
    padding:0;
}
.navigation-2 li,
.navigation li{
    float: left;
    list-style-type: none;


}
.navigation-2 li a,
.navigation li a{
    display: block;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    padding:10px 0;
    margin:15px 20px;
    transition: 0.3s;
}

.navigation li a:hover{
    color:#FF6F3C;
}
/*头像*/
.dropdown{
    position: relative;
    bottom:15px;
    z-index: 2;

}
.dropdown img{
    position: relative;
    border-radius: 50%;
    border: 2px solid #eeeeee;
    width:46px;
    height:46px;
    right: 0;
    top:0;
    z-index: 100000;
    transition: all .3s;
}
.dropdown:hover .imgdro,.dropdown-conten:hover .imgdro{
    width:60px;
    top:10px;
    right:-10px;
    height:60px;
    border: 2px solid #eeeeee;
}
.dropdown-conten{                                     /*下拉盒子*/
    top: 70px;
    right:-88px;
    width: 250px;
    height:260px;
    background: #fff;
    display: none;
    position: absolute;
    border: 1px solid rgba(136, 125, 136, 0.34);
    box-shadow: 5px 5px 5px rgba(102, 102, 102, 0.47);
    border-radius: 5px;
}


.logo{
    position: relative;
    float: left;
    left:10%;
    top: 15px;
    font-size: 20px;
    color: white;
    width: 69.2px;
    height: 69.2px;
}
.logo img{
    width: 69.2px;
    height: 69.2px;
}
/*内容1*/
.content-one{
    width: 1200px;
    margin:20px auto;
}
/*轮播图*/
.flexslider{
    float: left;
    width:720px;
    height:370px;
    margin-right:30px;
}
.flexslider h2{
    /*background-color: #f5f5f5;*/
    color: #4e5e6a;
    padding: 0 0 10px;
    font-size: 17px;
    letter-spacing: 2px;
    font-weight: 600;
    padding-top: 2px;
}
.flexslider img{
    width:720px;
    height:370px;
}
.flex-control-nav{
    margin:0;
    padding:0;
    top:380px;
    left:300px;
    position: absolute;
    /*border:1px solid;*/
}
.sbottom{
    position: absolute;
    bottom:0;
    width: 975px;
    opacity: 0.5;
    height: 35px;
    background-color: #000000;
}
.stext{
    position: absolute;
    color: #fffcfd;
    bottom:8px;
}
/*3篇文章*/
.new-writing{
    float: left;
    position: relative;
    width:445px;
    height:405px;
    left:10px;
    margin-left:35px;
}
.new-writing h2{
    color: #4e5e6a;
    margin: 0 0 10px;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 600;
    padding-top: 2px;
}
.writingbox{
    height: 110px;
    width:425px;
    margin-bottom:20px;
    background-color: #fff;

}
.writingbox img{
    display: inline-block;
    height: 110px;
    /*border-radius: 4px 0 0 4px;*/
}
.xianxi{
    position: relative;
    top:-18px;
    width:270px;
    display: inline-block;
    padding:5px;
    color: #414a51;
}
.xianxi p{
    font-size: 14px;
}
.nav-j{
    position: absolute;
    font-size: 20px;
    color: #4caf50;
    left:102%;
    bottom:30%;
}


/*内容区*/
.container{
    margin: 10px auto;
    width:1200px;
}
.mains{
    background-color: #fff;
    float: left;

}
.rights{
    background-color: #fff;
    float: left;
    height: 540px;
}
.lefts {
    background-color: #fff;
    float: left;

    width:310px;
}
.rights{
    width:260px;
    border-right:1px solid #f3f3f3;
}
.mains{
    width:600px;
    /*border-top:1px solid #f3f3f3 ;*/
    margin-right: 20px;
    border-right:1px solid #f3f3f3;
}
/*内容左*/
.lefts-box1,
.lefts-box2,
.lefts-box3{
    width: 230px;
    margin:27px;
    border-radius: 6px;
}
.lefts-box1{
    background-color: #050505;
}
.lefts-box2{
    background-color: #8bc34a;
}
.lefts-box3{
    background-color: #9c27b0;
}
.lefts-box1 img,
.lefts-box2 img,
.lefts-box3 img{
    border-radius: 6px 6px 0 0;
    width:230px;

}
.lefts-box-title{
    padding: 0px 10px 10px 10px;
    width:210px;
}
.lefts-box-title h3{
    margin:5px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
}
.lefts-box-title p{
    margin:5px;
    font-size: 12px;
    color: #647993;
}

.lefts-border{
    width:290px;
    border: 3px solid #F1F4F9;
    margin: 28px 0 0 20px;
    box-sizing: border-box;
}

/*文章*/
.contents{
    padding:4% 4% 4% 4%;
}
.f-title{
    font-size: 18px;
    font-weight: 500;
    color: rgb(160, 173, 182);
    border-bottom:3px solid #F1F4F9;
    height: 25px;
    position: relative;
}
.entry-header{
    padding-top:15px;
}
.entry-header a:hover{
    color: #887d88;
}
.entry-title{
    font-size: 20px;

}
.entry-title a{
    color: #4e5e6a;
}
.post-title{
    font-size:13px;
    padding: 10px 0;
    color: #647993;
}
.word{
    padding:20px 0;
    border-bottom: 3px solid #F1F4F9;
}
.word p{
    font-size: 14px;
    color: #647993;
}

/*右内容*/



/*返回顶部*/
.gotop{
    position: fixed;
    right:100px;
    bottom:70px;
    z-index: 101;
    display: none;
}
.gotop img{
    width:50px;
}
/*底部链接*/
.under{

    background-color: #fff;
    height:170px;
    border-top: 1px solid #eeeeee;
}
.centerbox{
    width:68%;
    margin:0 auto;
    height:150px;
}
.bottom1,.bottom2,.bottom3{
    float: left;
    height:150px;
    width:19.6%;
    margin:20px 0 0 0;
    /*border: 1px solid #ffffff;*/
}
.bottom3{
    margin-right:10%;
}
.bottom4{
    float: left;
    height:150px;
    width:29.4%;
    margin:20px 0 0 0;
    border-left: 1px solid #eaeaea;
}
.wechar{
    width:50px;
    height:50px;
    position: relative;
    left:42%;
}
.wechar>img{
    width:50px;
}
.wechar:hover .triangle1,.wechar:hover .detailed1{
    display: block;
}
.triangle1{
    display: none;
    z-index: 102;
    position: absolute;
    width:0;
    height: 0;
    top:10px;
    left:100%;
    border-top:5px solid transparent;
    border-right:10px solid #ccd9e3;
    border-bottom:5px solid transparent;
}
.detailed1 img{
    width:270px;
    border:1px solid #eeeeee;
    border-radius: 10px;
}
.detailed1{
    display: none;
    position: absolute;
    z-index: 102;
    top:-270px;
    left:60px;
    width:270px;
    height:200px;
}
.centerbox p,.centerbox h4,.centerbox a{
    color: #757575;;
    text-align: center;
    font-size: 14px;
    display: block;
    margin:5px 0;
}
.centerbox h4{
    color:#424242;
    font-size: 16px;
    margin:10px 0;
}

.centerbox a:hover{
    opacity: 0.8;
}

