*{
    margin:0;
    padding:0;
}
body{
    background-color: #f1f4f9;
    font-family: 微软雅黑;
}
a{
    text-decoration: none;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}
.clearfix:after {
    clear: both;
}
.clearfix{
    *zoom: 1;
}

.header{
    background-color: #4caf50;
    width: 100%;
}
/*.nav{*/
    /*position: relative;*/
    /*width:1200px;*/
/*}*/
.navigation{
    position: relative;
    float: left;
    left:15%;
}
.navigation-2{
    position: absolute;
    float: left;
    right:10%;
}
.navigation ul{
    margin: 0;
    padding:0;
}
.navigation-2 li,
.navigation li{
    float: left;
    list-style-type: none;


}
.navigation-2 li a,
.navigation li a{
    display: block;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    padding:10px 0;
    margin:15px 20px;
    transition: 0.3s;
}
.nav2 li a:hover,
.navigation li a:hover{
    color:#FF6F3C;
}
/*菜单*/
.menu{
    padding:10px 0;
    position: absolute;
    float: left;
    right:8%;
}
.nav2 h3{
    text-align: center;
    padding:10px;
    color: #FFF;
}
.nav2{
    position: fixed;
    top: 0;
    right: -200px;
    bottom: 0;
    overflow: hidden;
    z-index: 30;
    width: 200px;
    background-color:#000000;
}
.nav2 li{
    list-style-type: none;
    border-bottom: 1px solid #333333;
}
.nav2 li a{
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    padding:10px 0;
    margin:15px 20px;
    transition: 0.3s;
}
/*头像*/
.dropdown{
    position: relative;
    bottom:15px;
    z-index: 2;

}
.imgdro{
    position: relative;
    border-radius: 50%;
    border: 2px solid #eeeeee;
    width:46px;
    height:46px;
    right: 0;
    top:0;
    z-index: 100000;
    transition: all .3s;
}
.dropdown:hover .imgdro,.dropdown-conten:hover .imgdro{
    width:60px;
    top:10px;
    right:-10px;
    height:60px;
    border: 2px solid #eeeeee;
}
.dropdown-conten{                                     /*下拉盒子*/
    top: 70px;
    right:-88px;
    width: 250px;
    height:260px;
    background: #fff;
    display: none;
    position: absolute;
    border: 1px solid rgba(136, 125, 136, 0.34);
    box-shadow: 5px 5px 5px rgba(102, 102, 102, 0.47);
    border-radius: 5px;
}
.dropdown-conten img{
    margin:30px 35px 0 35px;
    width:180px;
}
.dropdown-conten p{
    margin:4px 65px;
    color: #333333;
    font-size: 14px;
}


.logo{
    position: relative;
    float: left;
    left:10%;
    top: 15px;
    font-size: 20px;
    color: white;
    width: 69.2px;
    height: 69.2px;
}
.logo img{
    width: 69.2px;
    height: 69.2px;
}
/*内容1*/
.content-one{
    width: 1200px;
    margin:20px auto;
}
/*轮播图*/
.flexslider{
    float: left;
    width:720px;
    height:370px;
    margin-right:30px;
}
.flexslider h2{
    /*background-color: #f5f5f5;*/
    color: #4e5e6a;
    padding: 0 0 10px;
    font-size: 17px;
    letter-spacing: 2px;
    font-weight: 600;
    padding-top: 2px;
}
.flexslider img{
    width:720px;
    height:370px;
}
.flex-control-nav{
    margin:0;
    padding:0;
    top:103%;
    left:40%;
    position: absolute;
    /*border:1px solid;*/
}
.sbottom{
    position: absolute;
    bottom:0;
    width: 975px;
    opacity: 0.5;
    height: 35px;
    background-color: #000000;
}
.stext{
    position: absolute;
    color: #fffcfd;
    bottom:8px;
}
/*3篇文章*/
.new-writing{
    float: left;
    position: relative;
    width:445px;
    height:405px;
    left:10px;
    margin-left:35px;
}
.new-writing h2{
    color: #4e5e6a;
    margin: 0 0 10px;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 600;
    padding-top: 2px;
}
.writingbox{
    height: 110px;
    width:425px;
    margin-bottom:20px;
    background-color: #fff;

}
.writingbox img{
    display: inline-block;
    height: 110px;
    /*border-radius: 4px 0 0 4px;*/
}
.xianxi{
    position: relative;
    top:-18px;
    width:270px;
    display: inline-block;
    padding:5px;
    color: #414a51;
}
.xianxi p{
    font-size: 14px;
}
.xiaoxi ul{
    padding:0;
}
.xianxi li{
    display: inline-block;
    list-style-type: none;
}
.xianxi li a{
    color: #414a51;
}
.xianxi li a:hover{
    color: #FF6F3C;
}
.nav-j{
    position: absolute;
    font-size: 20px;
    color: #4caf50;
    left:102%;
    bottom:30%;
}


/*内容区*/
.container{
    margin: 10px auto;
    width:1200px;
}
.mains{
    background-color: #fff;
    float: left;

}
.rights{
    float: left;
    height: 540px;
    width:260px;
    border-right:1px solid #f3f3f3;
}
.lefts {
    background-color: #fff;
    float: left;
    width:310px;
}

.mains{
    width:600px;
    /*border-top:1px solid #f3f3f3 ;*/
    margin-right: 20px;
    border-right:1px solid #f3f3f3;
}
/*内容左*/
.lefts-box1,
.lefts-box2,
.lefts-box3{
    width: 230px;
    margin:0px 27px 27px 7px;
    border-radius: 6px;
}
.lefts-box1{
    background-color: #050505;
}
.lefts-box2{
    background-color: #8bc34a;
}
.lefts-box3{
    background-color: #e91e63;
}
.lefts-box1 img,
.lefts-box2 img,
.lefts-box3 img{
    border-radius: 6px 6px 0 0;
    width:230px;
}
.lefts-box-title{
    padding: 0px 10px 10px 10px;
    width:210px;
}
.lefts-box-title h3{
    margin:5px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
}
.lefts-box-title p{
    margin:5px;
    font-size: 12px;
    color: #647993;
}

.lefts-border{
    width:290px;
    border-right: 3px solid #F1F4F9;
    margin: 28px 0 28px 20px;

    box-sizing: border-box;
}

/*文章*/
.contents{
    padding:4% 8% 4% 8%;
}
.f-title{
    font-size: 18px;
    font-weight: 500;
    color: rgb(160, 173, 182);
    border-bottom:3px solid #F1F4F9;
    height: 25px;
    position: relative;
}

.more{
    position: relative;
    display: block;
    left:86%;
    bottom:25px;
    width: 60px;
    height: 22px;
    border-radius: 2px;
    background: #0d2f3f;
    color: #eeeeee;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}
.more::before{
    content:"MORE";
    position: absolute;
    right:60px;
    width: 0px;
    height: 22px;
    border-radius: 2px;
    background: #333;
    color: rgb(160, 173, 182);
    line-height: 22px;
    font-size: 14px;
    cursor: pointer;
    opacity: 1;
    transition: all .3s;
}
.more::after{
    content:"MORE";
    position: absolute;
    right:0px;
    width: 60px;
    height: 22px;
    border-radius: 2px;
    background: #eee;
    color: rgb(160, 173, 182);
    line-height: 22px;
    font-size: 14px;
    opacity: 1;
    cursor: pointer;
    transition: all .3s;
}
.more:hover::before{
    right:0;
    width:60px;
    opacity: 1;
}
.more:hover::after{
    right:-60px;
    width:60px;

}
.entry-header{
    padding-top:15px;
}
.entry-header a:hover{
    color: #887d88;
}
.entry-title{
    font-size: 20px;

}
.entry-title a{
    color: #4e5e6a;
}
.post-title{
    font-size:13px;
    padding: 10px 0;
    color: #647993;
}
.word{
    padding:20px 0;
    border-bottom: 3px solid #F1F4F9;
}
.word p{
    font-size: 14px;
    color: #647993;
}

/*右内容*/
/*公告*/
.right-gonggao{
    background-color: #FFF;
    padding:10px;

}
.right-gonggao h3{
    margin:0 0 10px 0;
    text-align: center;
}
.right-gonggao h3::after{
    content:"";
    background:url(../images/黑板-2.png) no-repeat center;
    background-size:30px;
    display: inline-block;
    position: relative;
    top: 10px ;
    left:10px;
    width:30px;
    height:30px;
}
.right-gonggao p{

}
/*广告位*/
.adver{
    margin:15px 0;
    height:200px;
    background: #fff;
}
.adver{
    text-align: center;
}
/*返回顶部*/
.gotop{
    position: fixed;
    right:5%;
    bottom:130px;
    z-index: 101;
    display: block;
}
.gotop img{

    width:40px;
    padding:5px;
}

.gotop li{
    list-style-type: none;
    border-radius: 8px;
    width:50px;
    height: 50px;
    background-color: rgba(70, 66, 66, 0.38);
    -webkit-transition:  0.3s;
    -moz-transition:  0.3s;
    -ms-transition:  0.3s;
    -o-transition:  0.3s;
    transition:  0.3s;
}
.gotop li:hover{
    background: #4caf50;
}
#top1{
    display: none;
    position: fixed;

}

/*微信公众号二维码*/
.wechar-box{
    position: absolute;
    display: none;
    opacity: 0;
    background: #fff;
    border:1px solid #eeeeee;
    top:-20px;
    right:50px;
    height: 100px;
    padding:5px;
    width:300px;
}
.wechar-box img{
    float: left;
    width:100px;
    padding:0;
}
.wechar-box h3{
    padding-top:20px;
    text-align: center;
    color: #333;
}
.wechar-box p{
    padding-top:5px;
    text-align: center;
    color: #666666;
}
/*底部链接*/
.under{

    background-color: #fff;
    height:170px;
    border-top: 1px solid #eeeeee;
}
.centerbox{
    width:68%;
    margin:0 auto;
    height:150px;
}
.bottom1,.bottom2,.bottom3{
    float: left;
    height:150px;
    width:19.6%;
    margin:20px 0 0 0;
    /*border: 1px solid #ffffff;*/
}
.bottom3{
    margin-right:10%;
}
.bottom4{
    float: left;
    height:150px;
    width:29.4%;
    margin:20px 0 0 0;
    border-left: 1px solid #eaeaea;
}
.wechar{
    width:50px;
    height:50px;
    position: relative;
    left:42%;
}
.wechar>img{
    width:50px;
}
.wechar:hover .triangle1,.wechar:hover .detailed1{
    display: block;
}
.triangle1{
    display: none;
    z-index: 102;
    position: absolute;
    width:0;
    height: 0;
    top:10px;
    left:100%;
    border-top:5px solid transparent;
    border-right:10px solid #ccd9e3;
    border-bottom:5px solid transparent;
}
.detailed1 img{
    width:270px;
    border:1px solid #eeeeee;
    border-radius: 10px;
}
.detailed1{
    display: none;
    position: absolute;
    z-index: 102;
    top:-270px;
    left:60px;
    width:270px;
    height:200px;
}
.centerbox p,.centerbox h4,.centerbox a{
    color: #757575;;
    text-align: center;
    font-size: 14px;
    display: block;
    margin:5px 0;
}
.centerbox h4{
    color:#424242;
    font-size: 16px;
    margin:10px 0;
}

.centerbox a:hover{
    opacity: 0.8;
}
/*常规手机平板分辨率响应设计*/
@media screen and (max-width: 1000px ){

}