*{
	border:0;
	margin:0;
	padding:0;
	list-style: none;
	text-decoration: none;
}
body{
	overflow: hidden;
}
#container{
	width:100%;
	height:830px;
	overflow: hidden;
	background: url(../images/logic.jpg) no-repeat;
	background-size: 100% 830px;
	position:relative;
}
#container .top{
	margin:58px auto;
	text-align: center;
	font-size:20px;
	font-weight:bold;
	color:white;
}
.top p{
	font-weight: 200;
	font-size: 24px;
	color: #ccd9e3;
}
.main{
	width:400px;
	border-radius:5px;
	background:white;
	position:absolute;
	top:150px;
	left:37%;
}
.Group{
	height:45px;
	width:45px;
	position:absolute;
	top:20px;
	left:337px;
}
.tab{
	height:45px;
	width:336px;
	margin:30px auto;
	border-bottom:1px solid #bbbbbb;
	color:#999;
}
.tab li{
	height:45px;
	width:66px;
	float:left;
	margin-right:32px;
	font-size:16px;
	font-weight: bold;
	cursor:pointer;
}
.active{
	border-bottom:2px solid #282828;
	color:#282828;
}
li:hover{
	border-bottom:2px solid #282828;
	color:#282828;
}
.psw{
	height:300px;
	width:336px;
	margin:0 auto;
}
.psw .usname,.psw .passward,.psw .denglu{
	height:45px;
	width:336px;
	border-radius: 5px;
	background:#eee;
	border:1px solid #ccc;
	font-size: 15px;
	color:#666;
	outline:0px;
}
.psw .usname{
	text-indent: 2em;
}
.psw .passward{
	margin:20px auto;
	text-indent: 2em;
}
.main .denglu{
	margin:20px auto;
	background: #b8312e;
	font-size:20px;
	font-weight:bold;
	text-align: center;
	line-height: 45px;
	color:white;
	cursor: pointer;
}
.main .denglu a{
	position: relative;
	right:100px;
	display: block;
	width:336px;
	margin:20px auto;
	font-size:20px;
	font-weight:bold;
	text-align: center;
	line-height: 45px;
	color:white;
	cursor: pointer;
}
.main .denglu:hover{
	background: #b86f58;
}

.checkbox{
	height:15px;
	width:15px;
	border:1px solid #666;
}

.psw a{
	font-size:15px;
	color:orange;
	margin:10px 0 0 5px;
}
.psw a:nth-of-type(1){
	margin:0 5px 0 100px;
}
.psw a:hover{
	color:#bbb;
}
.mesg{
	width:336px;
	height:300px;
	margin:0 auto;
	display: none;
}
.mesg .header{
	width:336px;
	height:42px;
	background: #f4f4f4;
	border:1px solid #ccc;
	border-radius: 5px;

}
.mesg .header p{
	width:60px;
	height:42px;
	padding-left:10px;
	background: url(images/01.png)  48px -5px no-repeat;
	display: block;
	float: left;
	font-size: 18px;
	font-weight: bold;
	line-height: 42px;
	color:#666;
}
.mesg .header input{
	width:264px;
	height:42px;
	float: left;
	outline: none;
	font-size: 15px;
	text-indent: 2em;
	background: #f4f4f4;
}
.mesg .yzm{
	height:42px;
	width:336px;
	background: #f4f4f4;
	margin-top:30px;
	border:1px solid #ccc;
	border-radius: 5px;
	text-indent: 1em;
	font-size:15px;
	color:#666;
}
.mesg .denglu{
	height:42px;
	width:336px;
	border-radius: 5px;
	margin:30px 0 20px 0;
	background: #b8312e;
	font-size:20px;
	font-weight:bold;
	text-align: center;
	line-height: 45px;
	color:white;
	cursor: pointer;
}
.mesg .denglu:hover{
	background: #b86f58;
}
.mesg a{
	font-size:15px;
	color:orange;
	margin:10px 0 0 5px;
}
.mesg a:nth-of-type(1){
	margin:0 5px 0 100px;
}
span{
	color:orange;
}
.mesg a:hover{
	color:#bbb;
}

.denglu2{                              /* 登录*/
	display: none;
	position: fixed;
	z-index: 3;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}
.nierong{
	width:360px;
	margin:0 auto;
	top:200px;
	height: 350px;
	background-color: #FFF;
}