body{
    background-color: #e7e5d4;
    font-family: 微软雅黑;
}
.container{
    margin:20px auto;
}
.box{
    position: relative;
    float: left;
    margin:15px;
    background-color: #FFF;
    padding:5px;
    border:1px #FFF;
    border-radius: 5px;
    box-shadow: 0 0 5px #333333;
}
.container a img{
    width:280px;
    height: auto;
}
.daohang{
    position: relative;
    top:10px;
    left:5%;
    margin:10px 0 ;
    width:100%;

}
.daohang > a {
    font-weight: 600;
    color: #515151;
    font-size: 14px;
}