*{
    margin:0px;
    padding:0px;
}
#container{
    position:relative;
    margin: 0 auto;
    /*width:1360px;*/
    /*border:1px solid;*/
}
.box{
    padding:5px;
    float: left;
}
.box_img{
    padding:5px;
    border:1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px;

}
.box_img img{
    width:250px;
    height:auto;
}
/*相册网页*/
.daohang{
    margin:10px 0 ;
    width:100%;
    border-bottom:1px solid rgba(0, 0, 0, 0.2);

}
.daohang1  a {
    color: #515151;
    font-size: 14px;
}
.daohang1{
    padding-left:85px;
}
.modal-content{
    width:750px;
    margin:0 auto;
}
.row-bottom{
    width:750px;
    height: 200px;
}

.column {
    float: left;
    height:400px;
}
.column1 {
    position: relative;
    float: left;
}
.mySlides img{
    width:750px;
}
.column1 img{
    height:100px;
    width:auto;
}
.modal1{
    display:none;
    position: fixed;
    width: 100%;
    margin:0 auto;
    z-index:10;
    padding-top:20px;
    left:0;
    top:0;
    height:100%;
    overflow:auto;
    background-color: rgba(0, 0, 0, 0.73);
}
.close1{
    color:white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size:35px;
    font-weight:bold;
}
.mySlides{
    display:none;
}
.cursor
{
    cursor: pointer;
}
.prev1,
.next1 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
.next1 {
    right:376px;
    border-radius: 3px 0 0 3px;
}

.prev1:hover,
.next1:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
img{
    margin-bottom:-4px;
}
.caption-container{
    text-align: center;
    background-color: black;
    padding:2px 16px;
}
.demo{
    opacity:0.6
}
.active,
.demo:hover {
    opacity: 1;
}

.box_img img {
    transition: 0.3s
}

.box_img img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}