*{
    margin:0;
    padding:0;
    text-decoration: none;
}
body{
    background: url("../store/bg.png") center top no-repeat #1b2838;
}
h2,h3,h4{
    font-family: Arial,'Microsoft Yahei', sans-serif;
}
.tu{
    padding-top: 3px;
    margin-right: -30px;
    margin-left: 40px;
}
.head-menu li a{
    text-decoration: none;
    padding:0 20px;
    display:inline-block;
    text-align: center;
    color: #ffffff;
    /*border: 1px solid;*/
}
.menu-li{
    transition: all .3s;
}
.menu-li:hover {
    background-color: hsla(0,0%,100%,0.4);
}

.menu{
    position: relative;
    height: 100px;

}
.head-banner{
    position: absolute;
    top:0;
    width: 100%;
    /*background-image:url('../images/城镇.jpg');*/
    background-color: #171a21;
    height:100px;
    /*height: 170px;*/
    /*background-position: center -10px;*/
    background-repeat: no-repeat;

}
.head-menu{
    position: relative;
    width: 100%;
    height: 100px;
    color: #222;
    background-position: center top;
    background-size: cover;
    z-index: 3;
}
.search{
    position: absolute;
    bottom: 10px;
    right: 250px;
    width: 268px;
    height: 32px;
    padding: 2px 2px 2px 2px;
    background-color: rgba(13, 47, 63, 0.8);
    border-radius: 6px;
    font-size: 12px;
    z-index: 3;
}
.search-keyword{
    float: left;
    width: 200px;
    color: #222;
    font-size: 12px;
    overflow: hidden;
    height: 32px;
    line-height: 32px;
    padding: 0 12px;
    border: 0;
    box-shadow: none;
    background-color: transparent;
}
.search-submit{
    display: block;
    position: absolute;
    right: 0;
    width: 48px;
    min-width: 0;
    cursor: pointer;
    height: 32px;
    background: url(../images/icons.png) -653px -720px;
    margin: 0;
    padding: 0;
    border: 0;
}
.nav-mask{
    position: absolute;
    z-index: 0;
    width:100%;
    top: 0;
    left: 0;
    background-color: hsla(0,0%,100%,0.4);
    -webkit-box-shadow: rgba(0,0,0,.1) 0 1px 2px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    height: 42px;
    background-position: center -10px;
    background-repeat: no-repeat;
    /*border: 1px solid;*/
}
.menu-1{
    float: left;
    margin:25px;
    margin-left: 15%;
    position: relative;
    text-align: center;
    transition: all 0.5s;
}
.menu-2{
    float: right;
    margin-right: 15%;
    text-align: center;
}
.menu-li{
    z-index: 4;
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 42px;
    height: 42px;
    /*background-color: hsla(0,0%,100%,0);*/
    /*border: 1px solid;*/
}

.head-menu li{
    position: relative;
    font-size: 12px;
    color: #000;
    font-weight: 200;
}
.head-menu ul {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;

}
.head-menu li a{
    display: inline-block;
    text-align: center;
    text-decoration: none;
}
/*主菜单下拉*/
.dropdown{
    z-index: 4;
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 42px;
    height: 42px;
    /*border:1px solid;*/
}
.dropdown img{
    position: relative;
    border-radius: 50%;
    width:38px;
    height:38px;
    right: 0;
    top:0;
    z-index: 100000;
    transition: all .3s;
}
.dropdown:hover .imgdro,.dropdown-conten:hover .imgdro{
    width:60px;
    top:10px;
    right:-15px;
    height:60px;
    border: 2px solid #eeeeee;
}
.dropdown-conten{                                     /*下拉盒子*/
    top: 42px;
    right:-88px;
    width: 250px;
    height:260px;
    background: #fff;
    display: none;
    position: absolute;
    border: 1px solid rgba(136, 125, 136, 0.34);
    box-shadow: 5px 5px 5px rgba(102, 102, 102, 0.47);
    border-radius: 5px;
}
.dropdown-conten img{
    width:80px;
    height:80px;
}
.dropdown-conten form{
    top:45px;
    position: relative;
}
.info{
    width:230px;
    border-top:1px solid #eee;
    margin:10px;
}
.info p{
    display: inline-block;
    width:40%;
}
.info div{
    height: 25px;
    background-color: #f4f5f7;
    width:100%;
    cursor: pointer;
}
.info div:active{
    background-color: #666666;
}
.info div p{
    position: relative;
    bottom:8px;
}

/*消息下拉盒子*/
.dropdown2{
    z-index: 4;
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 42px;
    height: 42px;
}
.dropdown-conten2{                                     /*下拉盒子*/
    top: 42px;
    height:100px;
    width: 80px;
    background: #fff;
    display: none;
    position: absolute;
    border: 1px solid rgba(136, 125, 136, 0.34);
    box-shadow: 5px 5px 5px rgba(102, 102, 102, 0.47);
    border-radius: 2px;

}

.button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    font-size: 14px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 150px;
}
.bottom:hover{
    opacity: 0.8;
}

.bottom  :hover{
    text-decoration: underline;
}

.bottom
{
    text-align: center;
    width: 100%;
    bottom: 0;
    font-size: 12px;
}
.bottom .link{

    color: #666;
}


.center-menu{
    position: relative;
    width: 1200px;
    margin: 20px auto;
    height:350px;

}
/*轮播*/
.flexslider{
    width: 940px;
    height: 353px;;
}
.flex-direction-nav .flex-prev {
    font-size: 40px
}
.flex-direction-nav .flex-next {
    font-size: 40px
}

/*导航条*/
.navigation{
    width:940px;
    margin:20px  auto 0 auto;
    background-color: rgba( 62, 126, 167, 0.8);
}
.navigation ul li{
    position: relative;
    display: inline-block;
    text-decoration: none;
    border-right: 1px solid rgba( 16, 21, 25, 0.3);
    padding:0 30.9px;
    color: #d9dadd;
    font-size: 13px;
    line-height: 34px;
    text-shadow: -1px -1px 0px rgba( 0, 0, 0, 0.25 );
    font-weight: 300;
    cursor: pointer;
    overflow: hidden;
}
.navigation ul li:hover{
    background:#c6d4df;;
    color: #000;
    text-shadow: 0px 0px 0px rgba( 0, 0, 0, 0 );
}
.navigation ul{
    height:33.6px;
}
/*伪元素*/
.li1::before{
    content:"免费游玩";
    position: absolute;
    right:114.8px;
    width: 114.8px;
    height: 33.6px;
    background:#c6d4df;;
    color: #222222;
    text-shadow: 0px 0px 0px rgba( 0, 0, 0, 0 );
    font-size: 13px;
    line-height: 34px;
    border-right: 1px solid rgba( 16, 21, 25, 0.3);
    cursor: pointer;
    font-weight: 300;
    text-align: center;
    opacity: 1;
    transition: all .3s;
}
.li1::after{
    content:"免费游玩";
    position: absolute;
    right:-1px;
    width: 114.8px;
    height: 33.6px;
    background: #377096;
    color: #d9dadd;
    font-size: 13px;
    line-height: 34px;
    text-align: center;
    cursor: pointer;
    font-weight: 300;
    transition: all .3s;
}
.li1:hover::before{
    right:-1px;
    width:114.8px;
}
.li1:hover::after{
    right:-114.8px;
    width:114.8px;

}
/*中间展示*/
.home{
    padding:20px 0 10px 0;
}
.show-window h2{
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 0 10px;
    font-size: 17px;
    letter-spacing: 2px;
    font-weight: normal;
    padding-top: 2px;
}
.show-window{
    margin: 0 auto;
    width: 940px;
}
.show-game{
    width:940px;
    height:353px;
    background-color: #333333;
    box-shadow: 0 0 7px 0px #000;
}
/*.arr{*/
    /*float: left;*/
    /*width: 616px;*/
    /*height: 353px;*/
    /*z-index: 10;*/
    /*top: 0;*/
    /*left: 0;*/
    /*transition: all 0.5s;*/
/*}*/

.arrs,.arrs1,.arrs2,.arrs3{
    float: left;
    width: 616px;
    height: 353px;
    z-index: 10;
    top: 0;
    left: 0;

}
.arrs img,.arrs1 img,.arrs2 img,.arrs3 img{
    width: 616px;
    height: 353px;
}
.info-game{
    float: left;
    display: inline-block;
    background-image: url("../store/shopbc.jpg");
    background-size: cover;
    height: 353px;
    width:324px;
}
.info-title{
    max-height: 52px;
    overflow: hidden;
    color: #ffffff;
    font-size: 24px;
    line-height: 26px;
    margin:25px 20px;
}
.scanner{
    width:334px;
    height:162px;
}
.scanner img{
    float: left;
    width:150px;
    height:69px;
    margin:5px;
}
.img1,.img2,.img3,.img4{
    float: left;
    width:150px;
    height:69px;
    margin:5px;
}
.info-title2{
    max-height: 52px;
    overflow: hidden;
    color: #ffffff;
    font-size: 21px;
    font-weight: 200;
    line-height: 26px;
    margin:10px 20px;
}
.label{
    margin: 3px 20px;
    display: inline-block;
    line-height: 19px;
    padding: 0 7px;
    background-color: rgba( 255, 255, 255, 0.2 );
    border-radius: 2px;
    cursor: pointer;
    font-size: 11px;
}
.price{
    margin:10px 20px;
}
.discount{
    color: #a4d007;
    background: #4c6b22;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.price-f{
    background-color: rgba(0,0,0,0.6);

    font-size: 11px;
    display: inline-block;

}
.price-y{
    display: inline-block;
    color: #7193a6;
    text-decoration: line-through;
}
.price-x{
    color: #acdbf5;
    display: inline-block;
}
/*游戏卡片展示*/
.show-window2{
    width:940px;
    margin:20px auto;
}
.show-window2 h2{
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 0 10px;
    font-size: 17px;
    letter-spacing: 2px;
    font-weight: normal;
    padding-top: 2px;
}
.show-game2{
    height:390px;
    width:940px;
}
.shop-content1,.shop-content2{
    position: relative;
    cursor: pointer;
    float: left;
    box-shadow: 0 0 5px #000000;
    width: 300px;
}
.content-title{
     position: relative;
     padding:10px;
     background-image: url("../images/discount.jpg");
     background-repeat: inherit;
     height: 90px;
     width: 280px;
     z-index: 2;
 }
.content-img{
    height: 280px;
}
.content-title h2{
    text-transform: uppercase;
    color: #FFF;
    margin: 0 0 10px;
    font-size: 17px;
    letter-spacing: 2px;
    font-weight: normal;
}
.content-js{
    font-weight: 300;
    font-size: 12px;
    color: #acdbf5;
    margin-bottom: 10px;
}
.discountj{
    position: relative;
    float: left;
    height:35px;
    width:72px;
    color: #a4d007;
    line-height: 35px;
    padding: 0 5px;
    text-align: center;
    font-size: 26px;
    background: #4c6b22;
    font-weight: 300;
}
.discounts{
    position: relative;
    float: left;
    width:45px;
    height:35px;
    background-color: #0d2f3f;
}
.discount1{
    text-decoration: line-through;
    color: #7193a6;;
    font-size: 11px;
    text-align: center;
}
.discount2{
    font-size: 13px;
    color: #acdbf5;
    text-align: center;

}
.triangle{
    display: none;
    position: absolute;
    width:0;
    height: 0;
    top:20%;
    left:300px;
    border-top:5px solid transparent;
    border-right:10px solid #ccd9e3;
    border-bottom:5px solid transparent;
}
.detailed{
    display: none;
    position: absolute;
    z-index: 100;
    padding:15px;
    top:0;
    left:310px;
    width:270px;
    height:320px;
    background: #ccd9e3;
}
.detailed-title h2{
    color: #222d3d;
    font-size: 17px;
    font-weight: normal;
}
.detailed-title p{
    display: block;
    margin:5px 0;
    color: #30455a;
    font-size: 11px;
}
.detalied-js{
    width:260px;
    height:47px;
    padding:5px;
    font-size: 12px;
    color: #ccd9e3;
    border-radius: 2px;
    background-color:#6a7885;
}
.detailed-ct{
    font-size: 12px;
    color: #30455a;
    padding-top: 10px;
}
.detailed ul{
    margin-top:5px;
}
.detailed li{
    position: relative;
    float: left;
    list-style-type:none;
    height: 12px;
    border-radius: 2px;
    font-size: 10px;
    color: #FFF;
    background-color: #96a3ae;
    margin-right:3px;
    padding: 1px 4px 3px 4px ;
}
.shopcar{
    position: relative;
    left:180px;
    bottom:33px;
    width: 100px;
    height: 31px;
}
.shopcar button{
    width: 100px;
    height: 31px;
    text-align: center;
    color: #D2E885 ;
    border:0;
    background: linear-gradient( to bottom, rgba(121,153,5,1) 5%, rgba(83,105,4,1) 95%);
}
.shopcar button:hover{
    color: #FFF ;
    background:rgba(121,153,5,1);
}
.shopcar::after{
    content: "+1";
    font-size: 20px;
    position: absolute;
    top:0px;
    left:30px;
    color: #FFF;
    opacity: 0;
}
.shopcar:active::after{
    top:-20px;
    left:50px;
    animation:myfirst .3s;
    -moz-animation:myfirst .3s;
    -webkit-animation:myfirst .3s;
    -o-animation:myfirst .3s;
}
@keyframes myfirst
{
    0%   {top:0px; left:30px;opacity: 1}
    25%  {top:-10px; left:40px;opacity: 1}
    50%  {top:-20px; left:50px;opacity: 0.5}
    100% {top:-30px; left:60px;opacity: 0}
}
/*卡片2*/
.show-2{
    float: left;
    position: relative;
    margin:0 0 13px 14px;
    cursor: pointer;
    box-shadow: 0 0 5px #000000;
}
.show2-img{
    height:143px;
}
.show2-img img{
    width:306px;
}
.content-titles{
    position: relative;
    background-image: url("../images/discount.jpg");
    background-repeat: inherit;
    width: 306px;
    z-index: 2;
}
.content-prices{
    position: relative;
    left:55%;
    padding:5px;
    height: 35px;
}
/*列表游戏*/
.show-window3{
    margin-top:80px;
    background: linear-gradient( to bottom, rgba(42,71,94,1.0) 5%, rgba(42,71,94,0.0) 70%);
}
.showcenter{
    width:940px;
    margin: 0 auto;
    height: 900px;
    padding:12px 0;
}
.show-right{
    position: relative;
    top:-28.8px;
}
.show-title{
    position: relative;
    top:-12px;
    line-height: 29px;
    width: 98px;
    border-radius: 2px 2px 0 0;
    font-size: 14px;
    color: #ffffff;
    background: #2a475e;
    list-style-type:none;
    padding:0 10px;
}
.show-content{
    float: left;
    width:618px;
}
.listshow{
    width:618px;
    height:69px;
    cursor: pointer;
    padding-bottom: 5px;
}

.listimg{
    position: absolute;
    float: left;
}
.list-1{
    position:absolute;
    float: left;
    left:184px;
    width:434px;
    height:69px;
    background-color: #162331;
    margin-bottom:5px;
}
.list-1-right{
    position: relative;
    float: left;
    width:294px;
    padding:7px 0px 7px 20px ;
}
.list-1-righth2{
    color: #c7d5e0;
    font-size: 1.25em;
    font-weight: 200;
    line-height: 18px;
    transition: color 0.25s;
}
.list-1-right p{
    color: #384959;
    font-size: 12px;
}
.list-1-left{
    float: left;
    width:120px;
    padding:27px 0;
}
.list-1-left p{
    color: #acdbf5;
    font-size: 13px;
    text-align: center;
}
.show-det{
    position: relative;
    margin-left:14px;
    float: left;
    background: linear-gradient( to right, #95bbd4 5%,#859bac 95%);
    width:268px;
    height: 705px;
    padding:15px 20px;
}
.detailed-title h2{
    font-size: 21px;
    color: #263645;
}
.detailed-title p{
    display: block;
    margin:5px 0;
    color: #30455a;
    font-size: 11px;
}
.detalied-js{
    width:260px;
    height:47px;
    padding:5px;
    font-size: 12px;
    color: #ccd9e3;
    border-radius: 2px;
    background-color:rgba( 38, 54, 69, 0.6);
}
.detailed-ct{
    font-size: 12px;
    color: #30455a;
    padding-top: 10px;
}
.show-det ul{
    margin-top:5px;
}
.show-det li{
    position: relative;
    float: left;
    list-style-type:none;
    height: 12px;
    border-radius: 2px;
    font-size: 10px;
    color: #FFF;
    background-color: rgba( 38, 54, 69, 0.6);
    margin-right:3px;
    padding: 1px 4px 3px 4px ;
}
.detailed-img img{
    padding:5px 0;
    width:270px;
    height:149px;
}
/*底部链接*/
.under{
    background-color: #111923;
    height:170px;
}
.centerbox{
    width:68%;
    margin:0 auto;
    height:150px;
}
.bottom1,.bottom2,.bottom3{
    float: left;
    height:150px;
    width:19.6%;
    margin:20px 0 0 0;
    /*border: 1px solid #ffffff;*/
}
.bottom3{
    margin-right:10%;
}
.bottom4{
    float: left;
    height:150px;
    width:29.4%;
    margin:20px 0 0 0;
    border-left: 1px solid #eaeaea;
}
.wechar{
    width:50px;
    height:50px;
    position: relative;
    left:42%;
}
.wechar>img{
    width:50px;
}
.wechar:hover .triangle1,.wechar:hover .detailed1{
    display: block;
}
.triangle1{
    display: none;
    z-index: 102;
    position: absolute;
    width:0;
    height: 0;
    top:10px;
    left:100%;
    border-top:5px solid transparent;
    border-right:10px solid #ccd9e3;
    border-bottom:5px solid transparent;
}
.detailed1 img{
    width:270px;
    border:1px solid #eeeeee;
    border-radius: 10px;
}
.detailed1{
    display: none;
    position: absolute;
    z-index: 102;
    top:-270px;
    left:60px;
    width:270px;
    height:200px;
}
.centerbox p,.centerbox h4,.centerbox a{
    color: #C6D4DF;
    text-align: center;
    font-size: 14px;
    display: block;
    margin:5px 0;
}
.centerbox h4{
    font-size: 16px;
    margin:10px 0;
}

.centerbox a:hover{
    opacity: 0.8;
}
